body {
  font-family: 'Chelsea Market', arial;
}

button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Chelsea Market', arial;
}

.main{
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
}
